html {
  font-size: 10px;
}
body {
  background-color: lightcyan;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: justify;
}
hr {
  background-color: lightcyan;
  border-style: none;
  border-top-style: dotted;
  border-color: #22577A;
  border-width: 5px;
  width: 4%;
}
h1 {
  color: #22577A;
  font-family: serif;
  font-size: 3.5rem;
}
h3 {
  color: #22577A;
  font-size: 2rem;
}
em {
  color: #22577A;
  font-family: serif;
}
img {
  border-radius: 8px;
}
